// 0.테두리
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-base: 6px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-full: 9999px;
$border-radius-custom: 25px;
$border-radius-popup: 35px;
