$spacing-0: 0;
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.25rem; // 20px
$spacing-6: 1.45rem; // 24px
$spacing-8: 2rem; // 32px
$spacing-10: 2.5rem; // 40px
$spacing-12: 3rem; // 48px
$spacing-16: 4rem; // 64px
$spacing-20: 5rem; // 80px

$spacing-xs: $spacing-2; // 8px
$spacing-sm: $spacing-4; // 16px
$spacing-md: $spacing-6; // 24px
$spacing-lg: $spacing-8; // 32px
$spacing-xl: $spacing-12; // 48px
$spacing-2xl: $spacing-16; // 64px
