/**
 * src/assets/styles/variables
 * 
 * SCSS 전역 변수들을 정의합니다.
 * 
 * 장점:
 * 1. 전체 디자인의 일관성 유지
 * 2. 추후 색상 변경 시 한 곳만 수정
 * 3. 다크 모드 등 테마 변경 용이
 * 
 * 사용 예시:
 * .button {
 *   background-color: $primary-color;
 *   padding: $spacing-md;
 * }
 */

/* ==================== 색상 정의 ==================== */
@forward "./variables/_border-variables";
@forward "./variables/_color-variables";
@forward "./variables/_font-variables";
@forward "./variables/_gradient-variables";
@forward "./variables/_media-query-breakpoint-variables";
@forward "./variables/_shadow-variables";
@forward "./variables/_spacing-variables";
@forward "./variables/_transition-variables";
@forward "./variables/_z-index-variables";
